<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Restaurant Enak Nih</title>
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

</head>
<body>
  <header class="navbar-container">
    <div class="header__inner">
      <h1 class="header__title">Makan Disini Yuk</h1>
    </div>
    <a id="menu" class="header__menu">☰</a>
    <nav class="nav-list">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Merekomendasikan Tempat Makan yang Menarik Untukmu</h1>
      <!-- <img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->
      <p class="hero__tagline">Disinilah Tempat-Tempat Makan yang unik Di Dunia</p>
    </div>
  </div>
  
  
</body>
</html>
